<div class="card">
	<div class="card-image">
		<img src={{book.cover}} alt={{book.title}}>
	</div>
	<div class="card-content book-content">
		<div class="book-title">		
			<span class="card-title grey-text text-darken-4 book-title__title">
				{{book.title}}
			</span>
			<span class="book-title__end"></span>
		</div>
		{{#if isAlreadyInCart}}
			<p>{{#link-to 'cart' }}Voir panier{{/link-to}}</p>
		{{else}}
			<p><a href="#" {{action 'addToCart' book}}>Ajouter au panier</a></p>
		{{/if}}
		<span class="book-price light-blue-text">{{book.price}} €</span>
	</div>
</div>
