<div class="card">
	<div class="card-image">
		<img src={{book.cover}} alt={{book.title}}>
	</div>
	<div class="card-content book-content">
		<div class="book-title">		
			<span class="card-title grey-text text-darken-4 book-title__title">
				{{book.title}}
			</span>
			<span class="book-title__end"></span>
		</div>
	</div>
	<div class="card-action book-card__action">
		{{#if isAlreadyInCart}}
			{{#link-to 'cart' }}Modifier le panier{{/link-to}}
		{{else}}
			<a href="#" {{action 'addToCart' book}}>Ajouter au panier</a>
		{{/if}}
	</div>
	<div class="book-price light-blue-text right-align">{{book.price}} €</div>
</div>
